<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hszn.nbmh.user.mapper.NbmhAnimalDoctorDetailMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.hszn.nbmh.user.api.entity.NbmhAnimalDoctorDetail">
        <id column="id" property="id"/>
        <result column="user_id" property="userId"/>
        <result column="accept_order_num" property="acceptOrderNum"/>
        <result column="doctor_type" property="doctorType"/>
        <result column="good_animal_type" property="goodAnimalType"/>
        <result column="good_disease" property="goodDisease"/>
        <result column="certificate_no" property="certificateNo"/>
        <result column="video_medical_price" property="videoMedicalPrice"/>
        <result column="medical_price" property="medicalPrice"/>
        <result column="door_medical_price" property="doorMedicalPrice"/>
        <result column="longitude" property="longitude"/>
        <result column="latitude" property="latitude"/>
        <result column="geo_code" property="geoCode"/>
        <result column="heat_weight" property="heatWeight"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
        <result column="status" property="status"/>
    </resultMap>

</mapper>
