<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hszn.nbmh.marketing.mapper.NbmhSeckillMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.hszn.nbmh.marketing.api.entity.NbmhSeckill">
        <id column="id" property="id" />
        <result column="tenant_id" property="tenantId" />
        <result column="shop_id" property="shopId" />
        <result column="activity_name" property="activityName" />
        <result column="shop_name" property="shopName" />
        <result column="scope_id" property="scopeId" />
        <result column="scope_type" property="scopeType" />
        <result column="start_time" property="startTime" />
        <result column="end_time" property="endTime" />
        <result column="apply_end_time" property="applyEndTime" />
        <result column="hours" property="hours" />
        <result column="seckill_rule" property="seckillRule" />
        <result column="shop_ids" property="shopIds" />
        <result column="goods_num" property="goodsNum" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
        <result column="status" property="status" />
    </resultMap>

</mapper>
