<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hszn.nbmh.prevent.mapper.NbmhPreventStationMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.hszn.nbmh.prevent.api.entity.NbmhPreventStation">
        <id column="id" property="id" />
        <result column="station_name" property="stationName" />
        <result column="station_address" property="stationAddress" />
        <result column="station_longitude" property="stationLongitude" />
        <result column="station_latitude" property="stationLatitude" />
        <result column="station_phone" property="stationPhone" />
        <result column="station_master" property="stationMaster" />
        <result column="master_id" property="masterId" />
        <result column="certificate" property="certificate" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
        <result column="status" property="status" />
    </resultMap>

</mapper>
