<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hszn.nbmh.prevent.mapper.NbmhPrescriptionDrugMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.hszn.nbmh.prevent.api.entity.NbmhPrescriptionDrug">
        <id column="id" property="id" />
        <result column="prescription_id" property="prescriptionId" />
        <result column="drug_id" property="drugId" />
        <result column="drug_name" property="drugName" />
        <result column="drug_name" property="drugName" />
        <result column="drug_format" property="drugFormat" />
        <result column="drug_unit_price" property="drugUnitPrice" />
        <result column="drug_amount" property="drugAmount" />
        <result column="drug_use_intro" property="drugUseIntro" />
        <result column="remark" property="remark" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
        <result column="status" property="status" />
    </resultMap>

</mapper>
